@import-once "variables.less";
@import-once "mixin.less";

/* Base */
body {
	background: white;
	min-width: (@container-width + 80px);
}

/* Layouts */

/* Modules */
.container {
	width: @container-width;
}


@import-once "navbar.less";
@import-once "footer.less";
@import-once "index.less";
@import-once "news-events.less";