//---------------------------------------------------------------------
// footer module
//---------------------------------------------------------------------
footer {
	background: url(@footer-bg-uri) 0 0 repeat;
	color: #454545;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 20px;
	position: relative;

	&.container { width: (@container-width - 20px * 2); }
}

.footer-hiring {
	height: 186px;
	position: absolute;
	right: 20px;
	top: -20px;
	width: 178px;
}

.copyright {
	padding-top: 20px;
	text-align: center;
}

.copyright-link {
	color: #454545;
	text-decoration: underline;
}