#layout-news-events {
	.doc-body-email, .doc-body-gdc {
		display: block;
		height: 56px;
		width: 281px;
	}

	.doc-body-gdc {
		margin: 10px 0;
		height: 94px;
	}

	.doc-body-news-events {
		.mixin-box-shadow(0, 0px, 4px, rgba(0, 0, 0, 0.2));

		padding-bottom: 30px;
		position: relative;
		width: 95%;


		.fb-link, .tw-link {
			display: inline-block;
			height: @index-docbody-social-width;
			position: absolute;
			top: 10px;
			width: @index-docbody-social-width;
			z-index: 10;
		}

		.fb-link {
			background: url(@index-docbody-social-uri) 0 0 no-repeat;
			right: (@index-docbody-social-width + 10px + 10px);
		}

		.tw-link {
			background: url(@index-docbody-social-uri) (-1 * @index-docbody-social-width) 0 no-repeat;
			right: 10px;
		}
	}

	.doc-body-news-group {
		position: relative;
		top: 10px;

		hr {
			margin: 10px auto;
			width: 85%;
		}
	}

	.doc-body-news-tag, .doc-body-events-tag {
		height: @index-docbody-newsevent-height;
		left: -10px;
		margin-bottom: 15px;
		position: relative;
		width: 94px;
	}

	.doc-body-news-tag   { background: url(@index-docbody-newsevent-uri) 0 0 no-repeat; }
	.doc-body-events-tag { background: url(@index-docbody-newsevent-uri) 0 (-1 * @index-docbody-newsevent-height) no-repeat; }

	.doc-body-news {
		margin: 0 auto;
		width: 85%;
	}
}
