//---------------------------------------------------------------------
// premium marketplace page
//---------------------------------------------------------------------
#layout-premium {

	//-----------------------------------------------------------------
	// doc-body
	//-----------------------------------------------------------------
	.doc-body-benefits {
		margin-top: 55px;

		.benefit {
			margin-bottom: 25px;
			width: 90%;
		}

		.highlight {
			//color: #0091e4;
			//font-size: 22px;
			color: #ff8800;
			font-weight: 500;
		}
	}

	.doc-body-benefits-img {
		height: 499px;
		margin: 10px 0;
		width: 707px;
	}

	.doc-body-advertiser, {
		.media { margin-bottom: 30px; }
		.media-object {
			background-color: gray;
			height: 150px;
			width: 280px;
		}

		.media-heading {
			color: #008ce2;
			font-size: 22px;
			font-weight: 500;
			line-height: 25px;
			margin-bottom: 0;
		}

		.media-body { line-height: 25px;}
	}

	.doc-body-premium-misc1, .doc-body-premium-misc2, .doc-body-premium-misc3 {
		margin-bottom: 30px;
		.media-object {
			background-color: gray;
			height: 210px;
			width: 270px;
		}

		.media-heading {
			color: #004394;
			font-size: 22px;
			line-height: 30px;
		}
	}

	.doc-body-key-features {
		.key-feature-1, .key-feature-2, .key-feature-3 {
			height: @premium-keyfeat-height;
			width: 70px;
		}

		.key-feature-1 { background: url(@premium-keyfeat-uri) 0 0 no-repeat; }
		.key-feature-2 { background: url(@premium-keyfeat-uri) 0 (-1 * @premium-keyfeat-height) no-repeat; }
		.key-feature-3 { background: url(@premium-keyfeat-uri) 0 (-2 * @premium-keyfeat-height) no-repeat; }

		.media .media-body .media-heading {
			color: #0091e4;
			font-size: 22px;
			font-weight: 500;
		}
	}

	.doc-body-key-features-img {
		height: 293px;
		margin-top: 30px;
		width: 712px;
	}
}