//---------------------------------------------------------------------
// global
//---------------------------------------------------------------------
@container-width: 1200px;

//---------------------------------------------------------------------
// navbar
//---------------------------------------------------------------------
@nav-logo-uri: "../image/base/logo.png";
@nav-btns-uri: "../image/base/nav_btn_sprite.png";
@nav-btn-width: 72px;
@nav-font-family: 'Roboto Condensed', sans-serif;

//---------------------------------------------------------------------
// footer
//---------------------------------------------------------------------
@footer-bg-uri: "../image/base/footer_bg.png";